@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('DINCondensed-Bold.ttf');
  src: local('DINCondensed-Bold Regular'),
      local('DINCondensed-Bold'),
      url('DINCondensed-Bold.woff2') format('woff2'),
      url('DINCondensed-Bold.woff') format('woff');
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('CenturyGothic.ttf');
}
@font-face {
  font-family: 'CenturyGothicBold';
  src: url('CenturyGothicBold.ttf');
}
