.personnal_wrap
  margin 0
  padding 0
  background-color #f6f8f9
  .defendD
    margin-bottom 2px
    .defendD1
      color #29354D
      margin-bottom 2px
      font-family PingFangSC-Medium
      padding 12px 22px 12px 21px
      font-size 16px
      background-color #FFFFFF
      line-height 22px
      word-break break-all
      word-wrap break-word
    .defendD2
      padding 20px 22px
      color #909090
      font-size 12px
      background-color #FFFFFF
      .defendD2-1
        font-size 12px
        margin-bottom 30px
      .defendD2-2
        font-size 14px
        line-height 32px
        color #29354D
        word-break break-all
        word-wrap break-word
        font-family PingFangSC-Light
        letter-spacing 0
        text-align justify
        line-height 32px
