@import '../../../assets/stylus/methods'

.topBar
  position fixed
  iphonefixbottom(60px)
  right 20px

  img
    width 40px
    height 40px

.personnal_wrap
  background-color #f6f8f9
  margin 0
  padding 0
  width 100vw
  min-height 100vh

  .list
    margin-top -15px
    background-color #f6f8f9
    -webkit-overflow-scrolling touch

    .sign
      .sign1
        color #B4B9C1
        margin 20px auto
        text-align center
        width fit-content
        height 20px
        line-height 20px
        background-color #F0F0F0
        border-radius 10px
        padding-left 15px
        padding-right 14px
        padding 0 14px 0 15px

      .sign2
        background-color #FFFFFF
        padding 10px 22px 20px 22px

        .sign2-1
          font-size 16px
          line-height 22px
          margin-bottom 10px
          font-family PingFangSC-Medium
          line-clamp 1
          word-break break-all
          overflow hidden
          text-overflow ellipsis

        .sign2-2
          font-size 14px
          height 44px
          line-height 22px
          font-family PingFangSC-Light
          word-break break-all
          display -webkit-box
          overflow hidden
          text-overflow ellipsis
          -webkit-line-clamp 2
          -webkit-box-orient vertical

      .sign3
        margin-top 3px
        height 20px
        background-color #FFFFFF
        padding-top 10px
        padding-bottom 5px

        .sign3-1
          font-size 14px
          padding-left 22px
          font-family PingFangSC-Regular

        img
          width 16px
          height 16px
          float right
          margin-right 20px

.a
  color #909090

.b
  color #29354d
