@import '../../../assets/stylus/methods'
.lplc_content
  position fixed
  width 100%
  top 0px
  z-index 2
.jt_center
  text-align:center
  font-size: 20px
  color: #FFFFFF
  line-height:30px
  height:30px
  span
    color:#fff
    font-size: 18px
  img
    width:20px
    vertical-align: text-top
.jt_left
  position:absolute
  left:21px
.jt_left img
  width:25px
.jinfu_title
  position:relative
  width 100%
  height 40px
  line-height 40px
  iphonefixpadding(20px)
  text-align center
  background-image url("../../assets/images/zhanbaotitle.png")
  background-repeat no-repeat
  background-size 100% 100%
.fixed-top
  position:fixed;
  width:100%;
  left:0;
  top:0;
  z-index:9999;
  background: #5b96ff;
.nav-tab
  width:100%;
  background:#5B96FF;
  position:fixed;
  width:100%;
  left:0;
  iphonefixtop(59px)
  z-index:9999;
  .tab
    width:32%;
    margin:0 auto;
    background: #5b96ff;
    .mint-tab-item
      padding:10px 0 6px 0;
      &.is-selected
        position:relative;
        border-bottom:none;
        margin-bottom:0;
        .mint-tab-item-label
          position:relative;
          .selected_line
            display:block;
            width: 50%;
            height:2px;
            margin:5px auto 0;
            background:#fff;
          .tab-name
            font-family PingFangSC-Semibold;
            color:#fff;
            font-size:16px;
      .tab-name
        font-size:16px;
        color: #D0ECFF;
        font-weight:normal;
        font-family PingFangSC-Semibold;




