  // iPhone X、iPhone XS,iPhone XS max ,iPhone XR适配
add(a,b)
  a + b
iphonefixpadding(a)
  padding-top add(a , 0)
  // iPhone X、iPhone XS
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
    padding-top add(a , 20)
    // iPhone XS max
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
    padding-top add(a , 35)
    // iPhone XR
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
    padding-top add(a , 35)
iphonefixpaddingb(a)
  padding-bottom add(a , 0)
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
    padding-bottom add(a , 14)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
    padding-bottom add(a , 20)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
    padding-bottom add(a , 20)



iphonefixtop(a)
  top add(a , 0)
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
    top add(a , 20)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
    top add(a , 35)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
    top add(a , 35)
iphonefixbottom(a)
  bottom add(a , 0)
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
    bottom add(a , 14)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
    bottom add(a , 20)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
    bottom add(a , 20)
iphonefixheight(a)
  height add(a , 0)
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
    height add(a , 14)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
    height add(a , 20)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
    height add(a , 20)

iphonefixlineheight(a)
  line-height add(a , 0)
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
    line-height add(a , 14)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
    line-height add(a , 20)
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
    line-height add(a , 20)
