@import '../../../../assets/stylus/methods'
.main_wrap
  iphonefixpadding(68px)
  background: linear-gradient(to bottom, #5B96FF 50%, #f6f8f9 50%)

.loadmorestwo
  background #5B96FF

  .mint-loadmore-top
    height 50px

    .top_tip
      width 100%
      height 50px
      position relative

      img
        position absolute
        top 10px
        left 3.866667rem
        width 25px
        height 25px

      .txt
        padding-left 30px
        font-size 13px
        color #fff

      .loading-txt
        padding-left 36px

      .icon
        display inline-block
        position absolute
        top 10px

        .la-ball-spin-clockwise
          width 25px
          height 25px

          div
            width 6px
            height 6px

      .reush_tip
        position absolute
        left 0
        top 16px
        width 100%
        height 20px

        .txt
          padding-left 0px
          font-size 10px
          color #29354D

  .dibu
    width 100%
    iphonefixheight(64px)
    background-color #f6f8f9

.nodata
  width 100%
  height 100%
  text-align center
  line-height 20px
  background-color #f6f8f9
  img
    padding-top 100px
    width 214px
    height 157px
  .text_wrap
    height 200px
    span
      font-family PingFangSC-Regular
      font-size 14px
      color #909090
      letter-spacing 0
      text-align center
